# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Dependency directories
# vendor/

# IDE files
.idea

# FoodUnit binary
foodunit
foodunit.exe
cmd/*/__debug_bin
target/*

# FoodUnit config
server.toml

.vscode