# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Dependency directories
# vendor/

# FoodUnit binary
foodunit
foodunit.exe

# FoodUnit config
server.yaml

# IDE files
.idea