version: 2.1

executors:
  go-container:
    docker:
      - image: circleci/golang:1.12
    environment:
      CGO_ENABLED: 0
      GO111MODULE: "on"

  node-container:
    docker:
      - image: circleci/node:12.9.1-browsers
    environment:
      NODE_ENV: "development"

jobs:
  server-build:
    executor: go-container
    working_directory: /go/src/github.com/dominikbraun/foodunit
    steps:
      - checkout
      - restore_cache:
          keys:
            - go-mod-v1-{{ .Branch }}-{{ checksum "go.mod" }}
            - go-mod-v1-{{ .Branch }}-
            - go-mod-v1-
            - git-v1-{{ .Branch }}-{{ .Revision }}
            - git-v1-{{ .Branch }}
      - run: go mod download
      - save_cache:
          key: go-mod-v1-{{ .Branch }}-{{ checksum "go.mod" }}
          paths:
            - /go/pkg
      - save_cache:
          key: git-v1-{{ .Branch }}-{{ .Revision }}
          paths:
            - ".git"
      - run: go build -v -ldflags="-s -w" -o .target/foodunit-server cmd/server/main.go
      - run: cp .circleci/app.toml .
      - run:
          name: Run FoodUnit API server
          environment:
            PORT: 9292
          command: ./.target/foodunit-server --addr :$PORT
          background: true
      - run:
          name: Check if API server is up and running
          environment:
            PORT: 9292
          command: |
            sleep 1
            curl --retry 10 --retry-delay 1 -X GET http://localhost:$PORT/status

  ui-build:
    executor: node-container
    steps:
      - checkout
      - cd ./ui
      - restore_cache:
          keys:
            - node-modules-v1-{{ .Branch }}-{{ checksum "package.json" }}
            - node-modules-v1-
      - run: yarn install
      - save_cache:
          key: node-modules-v1-{{ .Branch }}-{{ checksum "package.json" }}
          paths:
            - node_modules

workflows:
  version: 2
  all-builds:
    jobs:
      - server-build
      - ui-build