body, html {
    height: 100%;
    cursor: default;
    background: linear-gradient(to bottom,rgba(0,0,0,.68) 0,transparent 12rem), url(../img/227764-P1PRQH-229.JPG) center center no-repeat;
    background-size: cover;
}
.text-theme {
    font-family: 'Kaushan Script', cursive;
}
.rounded {
    -webkit-border-radius: .35rem;
    -moz-border-radius: .35rem;
    border-radius: .35rem;
}
.rounded-0 {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.rounded-lg {
    border-radius: .75rem !important;
}
.rounded-xl {
    border-radius: 1.25rem !important;
}
.border-bottom {
    border-bottom: 2px solid #ebebef !important;
}
.border-thick {
    border-width: 2px;
}
.text-bold {
    font-weight: 500;
}
.text-sm {
    font-size: .79rem;
}
.text-md {
    font-size: .96em;
}
input:placeholder-shown {
    //background: aqua;
}
.bg-white-tr {
    background-color: rgba(255, 255, 255, .066);
}
