.rounded {
    -webkit-border-radius: .35rem;
    -moz-border-radius: .35rem;
    border-radius: .35rem;
}

.rounded-lg {
    border-radius: .75rem !important;
}

.border-bottom {
    border-bottom: 2px solid #ebebef !important;
}
