body, html {
    height: 100%;
    cursor: default;
/ / background: linear-gradient(to bottom, rgba(0, 0, 0, .68) 0, transparent 12 rem), url(../img/227764-P1PRQH-229.JPG) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.text-theme {
    font-family: 'Kaushan Script', cursive;
}

.text-menu {
    font-family: 'Fredericka the Great', cursive;
}

.rounded-0 {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.border-thick {
    border-width: 2px;
}

.border-dark {
    border-color: #191A20 !important;
}

.border-light {
    border-color: #ececec !important;
}

.text-bold {
    font-weight: 500;
}

.text-sm {
    font-size: .83rem;
    letter-spacing: 0.2px;
}

.text-md {
    font-size: 1.2em;
}

.text-xl {
    font-size: 3em !important;
}

.text-xxl {
    font-size: 3em;
}

.bg-beige {
    background-color: #FCF9F2;
}

.bg-dark-tr {
    background-color: rgba(25, 26, 32, .75) !important;
}

.bg-beige-tr {
    background-color: rgba(254, 252, 247, .6) !important;
}

@media (min-width: 820px) {
    .text-xxl {
        font-size: 4.8em;
    }
}

.dish-row {
    transition: background-color .25s;
}

.dish-row .dish-detail {
    transition: padding .12s;
}

.dish-row:hover, .dish-row:active {
    background-color: rgba(25, 26, 32, .85);
}

.dish-row:hover .dish-detail, .dish-row:active .dish-detail {
    padding-left: .75rem;
}
