body, html {
    height: 100%;
    cursor: default;
    //background: linear-gradient(to bottom, rgba(0, 0, 0, .68) 0, transparent 12rem), url(../img/227764-P1PRQH-229.JPG) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.text-theme {
    font-family: 'Kaushan Script', cursive;
}

.text-menu {
    font-family: 'Fredericka the Great', cursive;
}

.rounded-0 {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.border-thick {
    border-width: 2px;
}

.text-bold {
    font-weight: 500;
}

.text-sm {
    font-size: .87rem;
    letter-spacing: 0.2px;
}

.text-md {
    font-size: 1.2em;
}

.text-xl {
    font-size: 3em !important;
}

.text-xxl {
    font-size: 3em;
}

.bg-beige {
    background-color: #fefcf7;
}

.bg-dark-tr {
    background-color: rgba(25, 26, 32, .75) !important;
}

.bg-beige-tr {
    background-color: rgba(254, 252, 247, .6) !important;
}

@media (min-width: 820px) {
    .text-xxl {
        font-size: 4.8em;
    }
}

a:hover, a:focus {
    cursor: pointer;
    outline: none;
}
