@media (max-width: 576px) {
    #login-area, .main-area {
        -webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        border-radius: 0 !important;
    }
}

@media (min-width: 576px) {
    #login-area {
        max-width: 23rem;
        margin-top: 11rem;
    }
}
