.menu-area {
    background-position: 50% 76%;background-size:cover;
}

@media (max-width: 992px) {
    #login-area, .menu-area, .menu-area > div {
        -webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        border-radius: 0 !important;
    }
}

@media (min-width: 576px) {
    #login-area {
        max-width: 23.1rem;
        margin-top: 11rem;
    }
}
