.rounded {
    -webkit-border-radius: .35rem;
    -moz-border-radius: .35rem;
    border-radius: .35rem;
}

.rounded-lg {
    border-radius: .75rem !important;
}

.rounded-top {
    border-top-left-radius: .75rem !important;
    border-top-right-radius: .75rem !important;
}

.rounded-bottom {
    border-bottom-left-radius: .75rem !important;
    border-bottom-right-radius: .75rem !important;
}

.border-bottom {
    border-bottom: 2px solid #ebebef !important;
}

.bg-dark {
    background-color: rgba(25, 26, 32, .99) !important;
}

h1, .h1 {
    font-size: 2.8rem;
}

.text-dark {
    color: #191A20 !important;
}
