::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #fefcf7;
}

::-webkit-scrollbar-thumb {
    background: #CFCFD1;
}

::-webkit-scrollbar-thumb:hover {
    background: #1D1D26;
}
