<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>FoodUnit</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fredericka+the+Great">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="static/css/foodunit--default.css">
    <link rel="stylesheet" href="static/css/foodunit--print-all-orders.css" media="print" />

    <link rel="icon" href="/favicon.png" sizes="16x16">
    <link rel="shortcut icon" href="/icon-32.png" sizes="32x32">
    <link rel="shortcut icon" href="/icon-128.png" sizes="128x128">
    <link rel="shortcut icon" href="/icon-512.png" sizes="512x512">
</head>

<body class="bg-beige">
    <div class="row m-0" id="app">
        <div class="col-12 col-lg-8 col-xl-10 h-100">
            <div class="container">
                <div class="d-flex justify-content-center my-5 py-4" id="loader-main">
                    <div class="spinner-grow text-dark" role="status"></div>
                </div>
                <div class="d-none" id="loaded-content-main">
                    <div class="row my-5">
                        <div class="col-12 col-lg-2 pl-0">
                            <div class="bg-danger text-white text-ci text-lg logo-square rounded text-center mx-3 py-3 shadow-lg">
                                Food&nbsp;<br />
                                Unit&nbsp;
                            </div>
                        </div>
                        <div class="col-12 col-lg-8 text-xl text-center p-2">
                            <span class="text-ci" id="supplier"></span>
                            <div class="text-strong text-sm mx-auto my-0" id="cats"></div>
                        </div>
                        <div class="col-12 col-lg-2 d-none d-lg-block"></div>
                    </div>
                    <div class="row my-5">
                        <div class="col-1 col-lg-2 col-xl-1 pt-5 text-left">
                            <button class="btn btn-dark py-5 d-none d-md-inline-block" id="prev">
                                <i class="fas fa-chevron-left"></i>
                            </button>
                        </div>
                        <div class="col-10 col-lg-8 col-xl-10 px-0">
                            <div class="bg-dark shadow-sm rounded text-white" id="menu-page">
                                <div class="rounded" id="bg-container">
                                    <div class="bg-dark-tr rounded">
                                        <h2 class="text-hand text-lg text-center px-2 pt-5" id="cat"></h2>
                                        <div class="row m-0 pt-4 pb-5" id="dishes"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="bg-white rounded shadow-sm text-center my-5 py-3 text-sm">
                                <span class="text-ci text-md text-danger mx-2 py-3 supplier-name"></span>
                                <span class="text-strong">
                                /<span class="mx-2 supplier-addr"></span>
                                /<span class="mx-2 supplier-opened"></span>
                                /<span class="mx-2 supplier-phone"></span>
                            </span>
                            </div>
                            <div class="text-center py-2 text-xs">
                                <span class="text-strong">&copy; 2019 FoodUnit 2</span><br /><br /> Vorschl&auml;ge, Kritik, Verbesserungen:
                                <a class="text-dark" href="https://github.com/dominikbraun/foodunit" target="_blank"><i class="fab fa-github mx-1"></i>dominikbraun/foodunit</a>
                            </div>
                        </div>
                        <div class="col-1 col-lg-2 col-xl-1 pt-5 text-right">
                            <button class="btn btn-dark py-5 d-none d-md-inline-block" id="next">
                                <i class="fas fa-chevron-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 col-xl-2 h-100 bg-white shadow position-lg-fixed fix-lg-right px-2">
            <div class="d-flex justify-content-center my-5 py-3" id="loader-cart">
                <div class="spinner-grow text-dark" role="status"></div>
            </div>
            <div class="d-none" id="loaded-content-cart">
                <p class="text-strong text-xs text-center py-4 border-bottom">
                    <i class="fa fa-user mr-2"></i><span id="user-email"></span>
                </p>
                <p class="text-sm text-right my-4">
                    <i class="fas fa-shopping-cart mr-2"></i><span class="text-strong text-success mr-1">Summe: <span id="total">0.00</span> &euro;</span>
                </p>
                <ul class="p-0" id="cart-items"></ul>
                <form class="border-top border-bottom">
                    <input class="bg-light rounded text-xs border-0 w-100 mt-4 px-2 py-3" id="cart-remark" type="text" placeholder="W&uuml;nsche und Notizen" />
                    <button class="btn btn-success rounded text-xs text-strong mt-3 mb-4 w-100 p-2" id="save-cart" disabled>Bestellung gespeichert</button>
                </form>
                <p class="text-danger my-3">
                    <small><i>Hinweise wie &quot;mit Ketchup&quot; sind verboten, wenn Ketchup standardm&auml;&szlig;ig zum Gericht geh&ouml;rt.</i></small>
                </p>
                <div class="bg-light mt-4 p-3 shadow-sm">
                    <p class="mb-0 text-strong text-center">Rufst du heute an?<i class="fa fa-phone ml-2"></i></p>
                    <button class="btn btn-white rounded text-xs text-strong mt-4 w-100 p-2" data-toggle="modal" data-target="#all-orders" id="show-all-orders">alle Bestellungen anzeigen</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="all-orders" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content border-0">
                <div class="d-flex justify-content-center py-5" id="loader-all-orders">
                    <div class="spinner-grow text-dark" role="status"></div>
                </div>
                <div class="d-none" id="loaded-content-all-orders">
                    <div class="my-3 text-right">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="phone-view">
                            <label class="custom-control-label text-sm text-strong pr-3" for="phone-view">Bestellansicht</label>
                        </div>
                    </div>
                    <h1 class="text-ci text-lg text-center m-0 pt-3 pb-5" data-opt>Alle Bestellungen</h1>
                    <div class="bg-light rounded text-center py-4">
                        <h5 class="text-ci text-danger supplier-name"></h5>
                        <p class="text-strong mb-0">
                            <span class="supplier-addr"></span><br />
                            <span class="supplier-opened"></span><br />
                            <span class="supplier-phone"></span>
                        </p>
                    </div>
                    <div class="px-4" id="all-orders-list"></div>
                    <div class="px-4 pb-4 row m-0 text-strong text-sm">
                        <div class="col-9 px-2 py-3">Gesamt</div>
                        <div class="col-3 py-3 text-right text-success">
                            <span id="all-orders-total"></span> &euro;
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="src/foodunit--lib.js"></script>
    <script src="src/foodunit--render.js"></script>
    <script src="src/foodunit--cart-new.js"></script>
    <script src="src/foodunit--main.js"></script>
</body>

</html>
