<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>FoodUnit :: Login</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fredericka+the+Great">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Staatliches">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="static/css/foodunit--default.css">
</head>

<body class="bg-beige">
    <div class="row m-0 h-100">
        <div class="col-12 col-sm-4 h-100 m-0 p-0 d-none d-sm-block"></div>
        <div class="col-12 col-sm-4 h-100 m-0 p-0 justify-content-center align-items-center d-flex">
            <div class="p-4 p-sm-0 w-100">
                ...
            </div>
        </div>
        <div class="col-12 col-sm-4 h-100 m-0 p-0 d-none d-sm-block"></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="src/foodunit--main.js"></script>
</body>

</html>
