<!DOCTYPE html>
<html lang="de" class="h-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>FoodUnit :: Login</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fredericka+the+Great">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Staatliches">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="static/css/foodunit--default.css">

    <link rel="icon" href="/favicon.png" sizes="16x16">
    <link rel="shortcut icon" href="/icon-32.png" sizes="32x32">
    <link rel="shortcut icon" href="/icon-128.png" sizes="128x128">
    <link rel="shortcut icon" href="/icon-512.png" sizes="512x512">
</head>

<body class="bg-beige h-100">
    <div class="row m-0 h-100">
        <div class="col-12 col-md-2 col-lg-4 h-100 d-none d-md-block"></div>
        <div class="col-12 col-md-8 col-lg-4 bg-white shadow h-100 px-5">
            <div class="my-5 py-4">
                <div class="bg-danger text-white text-ci text-lg logo-square rounded text-center mx-auto py-3 shadow-lg">
                    Food&nbsp;<br />
                    Unit<sub class="text-md">2</sub>
                </div>
            </div>
            <h1 class="text-ci text-lg text-center border-top pt-5">Bevor du bestellst...</h1>
            <form class="py-4">
                <input class="bg-light rounded text-xs border-0 w-100 mt-4 px-2 py-3 text-center text-strong"
                       id="email" type="email" placeholder="Deine E-Mail-Adresse" autocomplete="off" spellcheck="false"
                />
                <button type="submit" class="btn btn-success rounded text-xs text-strong mt-3 mb-4 w-100 p-2" id="login">Login anfordern</button>
            </form>
            <div class="text-center text-muted text-xs py-3">
                Steffi's Imbiss <span class="px-1">&middot;</span>
                McDonald's Straubing <span class="px-1">&middot;</span>
                Pizzeria Venezia <span class="px-1">&middot;</span>
                Imbiss Media
            </div>
            <div class="text-center py-4 text-xs">
                <span class="text-strong">&copy; 2019 FoodUnit 2</span>
            </div>
        </div>
        <div class="col-12 col-md-2 col-lg-4 h-100 d-none d-md-block"></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="src/foodunit--lib.js"></script>
    <script src="src/foodunit--login.js"></script>
</body>

</html>
